@tailwind base;
@tailwind components;
@tailwind utilities;

.web3modal-modal-lightbox {
  z-index: 10 !important;
}

.web3modal-modal-card {
  border-radius: 4px !important;
}

.web3modal-provider-container {
  border-radius: 4px !important;
}